<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="manifest" href="manifest.json">
    <title>TimFlix</title>
</head>
<body>
    <header>
        <div class="navbar-container">
            <div class="navbar">
                <button class="navbar-hamburger-btn">
                    <span class="one"></span>
                    <span class="two"></span>
                    <span class="three"></span>
                </button>
                <div class="navbar-brand">
                    <h1 class="logo"><a href="#">Tim<span>Flix</span></a></h1>
                </div>
                <nav>
                    <ul class="navbar-nav">
                        <li><a href="#" class="navbar-nav-link active">Home</a></li>
                        <li><a href="#" class="navbar-nav-link">Now Playing</a></li>
                        <li><a href="#" class="navbar-nav-link">Up Coming</a></li>
                    </ul>
                </nav>
                <div class="navbar-actions">
                    <form action="#" class="navbar-form">
                        <input type="text" placeholder="Search..." name="search" id="search" class="navbar-form-search">
                        <button type="submit" class="navbar-form-search-btn">
                            <span class="material-icons-sharp">search</span>
                        </button>
                        <button class="navbar-form-close">
                            <span class="material-icons-sharp">cancel</span>
                        </button>
                    </form>
                    
                    <!-- search button Mobile -->
                    <button class="navbar-search-button">
                        <span class="material-icons-sharp">search</span>
                    </button>
                    <a href="#" class="navbar-signin">
                        <span>Sign in</span>
                        <span class="material-icons-sharp">login</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-brand">
                <h1 class="logo">Tim<span>Flix</span></h1>
                <p class="slogan">
                    Movies & TV Shows, Online cinema, Movie database HTML Template.
                </p>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-links">
                <ul>
                    <h4 class="link-heading">TimFlix</h4>
                    <li>About us</li>
                    <li>Profile</li>
                    <li>Pricing plans</li>
                    <li>Contacts</li>
                </ul>
                <ul>
                    <h4 class="link-heading">Browse</h4>
                    <li>Movies</li>
                    <li>TV Shows</li>
                    <li>Kids</li>
                    <li>Collections</li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="terms-privacy">
                <a href="#">Privacy policy</a>
                <a href="#">Terms and conditions</a>
            </div>
            <div class="copyright">
                <p>© Tim4A - 2022</p>
            </div>
        </div>
    </footer>
</body>
</html>